.title {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 92px;
}

.menu-button {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 40px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}

.game-font {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 30px;
    -fx-text-fill: #ffffff;
}