.title {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 92px;
    -fx-text-fill: white;
}

.menu-panel {
    -fx-background-image: url("/image/menu/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* Stretches the image to fit the window */
    -fx-background-position: center center;
}

.menu-button {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 40px;
    -fx-pref-width: 400px;
    -fx-pref-height: 55px;

    -fx-background-color: rgba(15, 20, 15, 0.65);
    -fx-background-radius: 8px;

    -fx-border-radius: 8px;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-width: 1px;

    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.0, 0, 4);
    -fx-transition: all 0.2s ease-in-out;
}

.menu-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: rgba(255, 255, 255, 0.8);
    -fx-text-fill: #e0fe00;
}

.menu-button:armed {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.game-font {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 30px;
    -fx-text-fill: #ffffff;
}